@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in-out {
  50% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .wrapper {
    width: 48px;
    height: 48px;
    animation: spin 5s linear infinite;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    width: 48px;
    height: 48px;
    animation: fade-in-out 2s ease-in-out infinite;
  }
}
