:root {
  /* colors from Radix UI colors: https://www.radix-ui.com/colors */
  --color-olive-1: #fcfdfc;
  --color-olive-2: #f8faf8;
  --color-olive-3: rgb(239, 241, 239);
  --color-olive-9: #898e87;
  --color-olive-10: #7f847d;
  --color-olive-11: #60655f;
  --color-olive-12: #1d211c;

  --separator-border: 2px dotted var(--color-olive-11);
  --section-gap: 2rem;

  --shadow-color: 120deg 2% 59%;
  --shadow-elevation-low: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.34),
    0.4px 0.5px 0.7px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 1.1px 1.7px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
    0.8px 0.9px 1.4px -0.8px hsl(var(--shadow-color) / 0.36),
    2px 2.3px 3.4px -1.7px hsl(var(--shadow-color) / 0.36),
    4.9px 5.7px 8.5px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.34),
    1.4px 1.7px 2.5px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 3.1px 4.6px -0.7px hsl(var(--shadow-color) / 0.34),
    4.4px 5.1px 7.6px -1.1px hsl(var(--shadow-color) / 0.34),
    7px 8.1px 12px -1.4px hsl(var(--shadow-color) / 0.34),
    11px 12.7px 18.9px -1.8px hsl(var(--shadow-color) / 0.34),
    16.7px 19.2px 28.6px -2.1px hsl(var(--shadow-color) / 0.34),
    24.7px 28.3px 42.3px -2.5px hsl(var(--shadow-color) / 0.34);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-olive-12);
  background-color: var(--color-olive-3);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  overflow-x: visible;
}
